{% extends "model-page.html" %}
{% block content %}
<html>
    <body>
        {% include "model-header.html" %}
        <br>
        <h1>TASKS</h1>
        <div class="tasks">
            {% for task in tasks %}
                <input type="checkbox" value={{ task.task_name }}> 
                {{ task.task_name }} - {{ task.get_task_deadline}} - {{ task.category}} <br>
            
            {% endfor %}
        </div></div>

        {% include "model-footer.html" %}
        
    </body>
{% endblock %}
</html>