{% extends "model-page.html" %}

{% block content %}
    <br>       
        <div class="tasks">
            <h1>TASKS</h1>
            <form action="tasks/" class="todo-form"><input type="submit" value="New Task"></form>
            <table class="TasksTable">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Deadline</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        {% if not get_completed_tasks %}
                            <tr>
                                <td style= {% if task.get_late_tasks %} 
                                    "color:red;" 
                                        {% endif %}>
                                    {{ task.task_name }}
                                </td>
                                <td style= {% if task.get_late_tasks %} 
                                    "color:red;" 
                                        {% endif %}>
                                        {{ task.get_task_deadline }}
                                </td>
                                <td style= {% if task.get_late_tasks %} 
                                    "color:red;" 
                                        {% endif %}>
                                        {{ task.category }}
                                </td>
                                <td style= {% if task.get_late_tasks %} 
                                    "color:red;" 
                                        {% endif %}>
                                        {{ task.status }}
                                </td>                   
                                <td>
                                    <form action="tasks/?id={{ task.id }}" class="todo-form" method="POST">{% csrf_token %}<input type="submit" value="Edit" display="inline-block"></form>
                                    <form action="tasks/delete/{{ task.id }}/" class="todo-form"><input type="submit" value="Delete" display="inline-block"></form>
                                </td>                
                            </tr>
                        {% endif %}
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>

{% endblock %}
