
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    background-color: darkslateblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.tasks {
    font-family: 'Courier New', Courier, monospace;
}

.late-task {
    font-family: 'Courier New', Courier, monospace;
    color: dimgray;
    text-decoration: line-through;

}

table.TasksTable {
    border-collapse: collapse;
    margin: auto;
    border-style: hidden;

}

.TasksTable th, .TasksTable td{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 15px;
}

tr:hover{
    background-color: #f5f5f5;
}

tr:nth-child(even){
    background-color: mediumpurple;
}

th {
    background-color: black;
    color: white;
}

.todo-form {
    text-align: center;
}

.task-form {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: xx-large;
}

.btn-tasks-save {
    margin: auto;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 30%;
    font-size: medium;

}

.btn-tasks-cancel {
    margin: auto;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    font-size: medium;

}

.login {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: x-large;
}

.btn-login {
    font-size: smaller;
}

.btn-logout {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    top: 10;
    right: 0;
    position: fixed;
}